<?xml version="1.0" encoding="UTF-8"?>
<web-app id="webproject" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>Web Project</display-name>
    <servlet>
        <servlet-name>Usuariolisto</servlet-name>
        <servlet-class>controllers.UsuarioRolController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Paginainicio</servlet-name>
        <servlet-class>controllers.Paginaprincipal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Clientelisto</servlet-name>
        <servlet-class>controllers.Clienteusar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Usuariolisto</servlet-name>
        <url-pattern>/Usuariolisto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Paginainicio</servlet-name>
        <url-pattern>/Paginainicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Clientelisto</servlet-name>
        <url-pattern>/Clientelisto</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
